{% extends "base.html" %}
{% block title %}organization detail{% endblock %}

<div class="cards">
    <div class="card">
        <img src="https://via.placeholder.com/150" alt="">
        <div class="text-card">
            <h2>Название</h2>
            <p>Описание</p>
        <div class="like">
            <button>Лайки</button>
        </div>
        </div>
       

{% block content %}
    <img src="{{ organization_info.image.url }}"/>
    <div>{{ organization_info.title }}</div>
    <div>{{ organization_info.description }}</div>
    <div>{{ organization_info.geo }}</div>
    <div>{{ organization_info.price }} сум</div>
    <div>время работы от {{ organization_info.time_start_work }} до {{ organization_info.time_stop_work }}</div>

   
{% endblock %}
    </div>
</div>