{% extends "base.html" %}
{% block title %}favourites{% endblock %}
{% block content %}
<!-- начало контента -->
<style>
    
    .fav-list{
        background: #fff;
        
        width: 500px;
        margin: 20px;
        border-radius: 10px;
        padding: 30px;

    }
    .fav-content{
        display: flex;
        justify-content: center;
    }
    .fav-list a{
        text-decoration: none;
        color: black;
    }
    .fav-list img{
        width: 100%;
    }
    .fav-list h2{
        text-align: center;
        padding: 10px;
    }
    .fav-fav{

    }
    .fav-fav img{
        height: 30px;
        width: 30px;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
    .fav-img{
        position: relative;
    }
</style>


    {% for fl in favourite_list %}
        <!-- начало карточки -->
        <div class="fav-content">
            <div class="fav-list">
                <a href="{% url 'organization_detail' slug=fl.slug %}">
                    <img class="fav-img" src="{{ fl.image.url }}"/>
                    <div class="fav-fav"><img src="https://i.ibb.co/rvPRPXn/icons8-64.png"></div>
                    
                    <h2 class="title_news">{{ fl.title }}</h2>
                    
                    <div class="desc">{{ fl.description }}</div>
                </a>
            </div>
        </div>
        
        <!-- конец карточки -->

    {% endfor %}
 




    {% for nl in new_list %}
        


    {% endfor %}

<!-- конец контента -->






<!-- конец контента -->
{% endblock %}