
{% block title %}Вход{% endblock %}

    <h1>Вход</h1>
    {% if form.errors %}
        <p>
            Ваше имя пользователя и пароль не совпадают.
             Пожалуйста, попробуйте еще раз. 
        </p>
    {% else %}
        <p>Введите ваш логин и пароль</p>
    {% endif %}
    <div class="login-form">
        
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Войти"></p>
        </form>
        
    </div>
    <div class="reg-login">
        <a href="/register">Регистрация</a>
    </div>
    
