{% extends "base.html" %}
{% block title %}news{% endblock %}
{% block content %}
<!-- начало контента -->

    {% for nl in new_list %}
        <div class="news-list">
             <!-- начало карточки -->
        <a href="{% url 'organization_detail' slug=nl.slug %}">link</a>
        <img width="100px" height="100px" src="{{ nl.image.url }}"/>
        <div class="title_news">{{ nl.title }}</div>
        <div class="desc">{{ nl.description }}</div>
        
        <!-- конец карточки -->
        </div>
       

    {% endfor %}

<!-- конец контента -->
{% endblock %}