
{% block title %}Регистрацияп{% endblock %}

    
    {% if form.errors %}
        <p>
            Ваши данные не совпадают.
            Пожалуйста, попробуйте еще раз.
        </p>
    {% else %}
        <p>Заполните следующие поля для регистрации</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'register' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Зарегистрироваться"></p>
        </form>
    </div>
